<!doctype html>
<html xmlns="https://www.thymeleaf.org" lang="es">

<head th:replace="fragments :: head('Registrar Personal - Parroquia Sagrado Corazón')" />

<body>

	<div th:replace="navegacion :: menu"></div>	

	<div class="text-center my-5">
		<h2>Registro Personal Parroquia | [[${titulo}]]</h2>
	</div>

	<form th:action="@{/personal/guardar}" th:object="${user}"
		onsubmit="return checkEmailUnique(this);" method="post"
		style="max-width: 700px; margin: 0 auto;"
		enctype="multipart/form-data">

		<div class="border border-secondary rounded p-5">

			<div class="form-group row">
				<label class="col-sm-4 col-form-label"> Email: </label>
				<div class="col-sm-8">
					<input type="email" class="form-control" th:field="*{email}"
						required minlength="8" maxlength="128" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label"> Nombres: </label>
				<div class="col-sm-8">
					<input type="text" class="form-control" th:field="*{nombre}"
						required minlength="3" maxlength="45" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label"> Apellidos: </label>
				<div class="col-sm-8">
					<input type="text" class="form-control" th:field="*{apellido}"
						required minlength="3" maxlength="45" />
				</div>
			</div>

			<div class="form-group row">
				<label for="password" class="col-sm-4 col-form-label"> Contraseña: </label>
				<div class="col-sm-8">
					<input th:if="${user.id == null}" type="password" 
						class="form-control" th:field="*{password}" required minlength="6"
						maxlength="45" /> <input th:if="${user.id != null}"
						type="password" id="password" class="form-control" th:field="*{password}"
						minlength="6" maxlength="45" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label"> Capilla: </label>
				<div class="col-sm-8">
					<select th:field="*{capilla}" class="form-select mb-4">
						<option th:each="capilla : ${listaCapillas}" th:value="${capilla}"
							th:text="${capilla}" />
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label"> Roles Personal: </label>
				<div class="col-sm-8">
					<th:block th:each="r : ${listaRoles}">
						<input type="checkbox" th:field="*{roles}" th:text="${r.nombre}"
							th:value="${r.id}" class="m-2" />
						- <small>[[${r.descripcion}]]</small>
						<br />
					</th:block>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label"> Estado: </label>
				<div class="col-sm-8">
					<input type="checkbox" th:field="*{enabled}" />
				</div>
			</div>


			<div class="form-group row">
				<label class="col-sm-4 col-form-label"> Foto: </label>
				<div class="col-sm-8">
					<input text="hidden" th:field="*{foto}" /> <input type="file"
						id="fileFoto" name="image" accept="/image/png, /image/jpeg"
						class="mb-2" /> <img id="thumbnail" alt="Vista previa de imagen"
						th:src="@{${user.FotosPath}} " class="img-fluid" />

				</div>
			</div>

			<div class="text-center">
				<input type="submit" value="Guardar" class="btn btn-outline-primary m-3" /> 
					
					<input type="button" value="Cancelar" class="btn btn-outline-secondary" id="botonCancelar" />
			</div>
		</div>

		<input type="hidden" th:field="*{id}" />
	</form>

	<!-- Modal email unique -->
	<div class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Advertencia</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<span id="modalBody"> </span>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-outline-danger"
						data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments :: footer"></div>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#botonCancelar").on("click", function() {
				window.location = "[[@{/personal-parroquia}]]";
			});
			
			$("#fileFoto").change(function() {
				fileSize = this.files[0].size;
				
				if(fileSize > 1048576) {
					this.setCustomValidity("¿Debes elegir una imagen de menos de 1 MB!");
					this.reportValidity();
				} else {
					mostrarImagenThumbnail(this);
				}	
				
			});
		});
		
		function checkEmailUnique(form) {
		
			url = "[[@{/personal/email}]]";
			userEmail = $("#email").val();
			userId = $("#id").val();
			csrfValue = $("input[name='_csrf']").val();
			
			params = {id: userId, email: userEmail, _csrf: csrfValue};
			
			$.post(url, params, function(response) {
			
				if(response == "OK"){
					
					form.submit();
						
				} else if(response == "Duplicated") {
					
					showModaldialog("Advertencia", "Hay otro usuario que tiene el correo electrónico: " + userEmail);
					
				} else {
				
					
				
				}			
			}).fail(function() {
			
				showModaldialog("Error", "No se pudo conectar al servidor");
			});
			
			return false;
		}
		
		
		function showModaldialog(titulo, mensaje){
		
			$("#modalTitle").text(titulo);
			$("#modalBody").text(mensaje);
			$("#modalDialog").modal();
		}
		
		
		function mostrarImagenThumbnail(fileInput){
			var file = fileInput.files[0];
			var reader = new FileReader();
			
			reader.onload = function(e) {
				$("#thumbnail").attr("src", e.target.result);
					
			};
			
			reader.readAsDataURL(file);
			
		}
		
		$(document).ready(function() {
			$("#logoutLink").on("click", function(e) {
				e.preventDefault();
				document.logoutForm.submit();
			});
		});
		
	</script>
</body>
</html>